<div class="max-w-5xl mx-auto px-4">
  <div class="flex items-center gap-4">
    <div class="flex-1 h-px bg-gradient-to-r from-transparent to-brand-500/30"></div>
    <div class="w-8 h-8 flex-shrink-0">
      <img src="/images/leaf-gold.svg" alt="" width="32" height="32" loading="lazy" />
    </div>
    <div class="flex-1 h-px bg-gradient-to-l from-transparent to-brand-500/30"></div>
  </div>
</div>
